line-length = 80
target-version = "py312"

[lint]
select = ["ALL"]

ignore = [
    "COM812",  # Conflicts with formatter
    "ISC001",  # Conflicts with formatter
		"TC003",	 # Require type-checking blocks for types in stdlib
    "D100",    # Missing docstring in public module
    "CPY001",  # Missing copyright notice at top of file
]

fixable = ["ALL"]
unfixable = []
preview = true

[lint.per-file-ignores]
# Test files can have some relaxed rules
"e2e/**/*.py" = [
    "S101",    # Allow assert statements in tests
    "PLR2004", # Allow magic values in tests
    "ANN",     # Allow missing type annotations in tests
]

[lint.pydocstyle]
convention = "google"

[lint.isort]
required-imports = ["from __future__ import annotations"]

[lint.flake8-type-checking]
strict = true

[format]
quote-style = "double"
indent-style = "space"
docstring-code-format = true
docstring-code-line-length = 72
